.inputContainer {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.inputContainer p {
  color: gray;
}
.inputContainer input, .inputContainer div {
  flex: 1;
  width: 100%;
}
@media (max-width: 900px) {
  .inputContainer {
    flex-direction: column;
  }
}
.statsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2%; /* 94% / 4  */
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}